@model SlideImageUpdateModel;

<div class="row">
    <div class="col-md-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">UPDATE SLIDE IMAGE</h4>
                <img style="width:150px; height:150px;" src="~/img/@Model.ImageUrl" />
                <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Image">Name</label>
                        <input asp-for="Image" class="form-control" accept="image/*">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>


                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>