@{
    HomeViewModel homeViewModel = Model;
    var products = homeViewModel.Products;
}

<!-- PRODUCTS START -->

<section id="products">
    <div class="container">
        <h1 style="color:red">Discount Products</h1>
        <div class="row">
            @await Component.InvokeAsync("Discount")

        </div>
    </div>
</section>


<section id="products">
    <div class="container">
        <h1 style="color:green">All Products</h1>
        <div class="row" id="productsList">
            @foreach (var item in products)
            {
                <input type="hidden" id="product-Count" value="@ViewBag.productCount" />
                <partial name="_ProductPartialView" model="item"/>
            }

        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary" id="loadMoreProduct">Load More</button>
        </div>
    </div>
</section>

<!-- PRODUCTS END -->
